*{
    font-family: Lato;
}

body{
    width: 100%;
    height: auto;
    min-width: 1000px;
    max-width: 1500px;
    margin: 0 auto !important;
    float: none !important;
}

@font-face{
    font-family: Lato;
    src: url('../fonts/Lato-Medium.ttf');
}

/*------------------Navigatie ---------------*/

.backtotop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    display: none;
}

header{
    background-color: white;
}

nav{
    text-align: center;
    padding-top: 30px;
 
}

#logo{
    margin-top: 25px;
    margin-left: 30px;
    float: left;
}

nav ul li{
    list-style: none;
    display: inline;
    margin-left: 20px;
    margin-right: 40px;
}

nav ul li a{
    text-decoration: none !important;
    color: #428bca;
    font-size: 14px;
}

nav ul li a:hover{
    opacity: 0.7;
}

#inloggen{
    float: right;
    margin-right: 50px;
}

/*------------------Header---------------*/

#ranking{
    margin-bottom: 10px;
}

#ranking h2{
    margin-left: 100px;
    margin-top: 50px;
    color: #4f5051;
}

#ranking h4{
    margin-left: 100px;
    margin-top: 5px;
    color: #4f5051;
}

.lijnranking2{
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    border-top-color: lightgrey;
    border-top-style: solid;  
}

/*--------------------------*/


.blogintro{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    text-align: left;
}

.lijnranking{
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-top-color: lightgrey;
    border-top-style: solid;  
}

/*--------------------------*/

.blogpost{
    margin-top: 50px;
}

.col-md-4{
}

#tekst{
    margin-left: 300px;
}

#tekst h2{
    color: #428bca;
}

#tekst p a{
    text-decoration: none;
}

#tekst p a:hover{
    color: #428bca;
    opacity: 0.7;
}

#volledig{
    margin-top: 20px;
    font-size: 9pt;
}

#afb{
    margin-top: 35px;
}

#afb1{
    float: right;
    margin-right: 80px;
}

.w3-light-grey{
    margin-right: 100px;
    border-radius: 5px; 
}

.lijn{
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    border-top-style: solid;
    border-top-color: lightgray;
}

/*------------------FOOTER---------------*/

footer{
    width: 100%;
    background-color: #428bca;
}

.copyright p{
    text-align: center;
    color: white;
    padding-top: 50px;
}

.sm{
    text-align: center;
}

.sm .fa{
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: white;
}

.sm .fa:hover {
    opacity: 0.7;
}


#fopo1{
    text-align: center;
    color: white;
}

#fopo1 a{
    text-decoration: none;
    color: #95999b;
    margin-left: 300px;
}

#fopo1 h5{
    margin-left: 300px;
}

#fopo1 a:hover{
    color: white;
}

#fopo2{
    text-align: center;
    color: white;
}

#fopo2 a{
    text-decoration: none;
    color: #95999b;
    margin-left: 
}

#fopo2 a:hover{
    color: white;
}

#fopo3{
    text-align: center;
    color: white;
}

#fopo3 h5{
    margin-right: 300px; 
}

#fopo3 a{
    text-decoration: none;
    color: #95999b;
    margin-right: 300px; 
}

#fopo3 a:hover{
    color: white;
}

#rowfooter{
    background-color: #4e5051;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-top: 50px;
}

#logofoot{
    margin-top: 80px;
}

.blogfoot{
    margin-left: 300px;
    margin-right: 300px;
    border-style: solid;
    border-color: lightgray;
    background-color: lightgray;
    text-align: center;
}

.blogfoot p{
    color: white;
}